<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
</head>
<style>
    form{
        width:260px;
        background: black;
        color:white;
        padding: 20px;
        margin: 5% auto 0;
        line-height:50px
    {% comment %} body{
        background: url("https://source.unsplash.com/2400x620/?sunshine,sky");
        background-size: cover;
        background-position: center;
    }
         {% endcomment %}
        
        
    }
</style>

<body bgcolor="yellow">
    
    <h1 align="center">Contact!!!</h1>
    <form>
        <table>
            <tr>
                <td>
                    Name :
                </td>
                <td>
                    <input type="text" placeholder="enter name" name="">
                </td>
            </tr>
            <tr>
                <td>
                    Phone :
                </td>
                <td>
                    <input type="Phone" placeholder="enter phone" name="">
                </td>
            </tr>
            <tr>
                <td>
                    Email :
                </td>
                <td>
                    <input type="text" placeholder="enter email" name="">
                </td>
            </tr>
            <tr>
                <td>
                    Password :
                </td>
                <td>
                    <input type="Password" placeholder="enter password" name="">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="Submit" value="Submit" name="">
                </td>
            </tr>
        </table>

    </form>

</body>

</html>
